.create-event_button {
    margin: 50px auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.events__list {
    display: flex;
    flex-direction: column;
}

.event__item {
    width: 60%;
    padding: 1em;
    font-weight: bold;
    color: #4183c4;
    border: 1px solid #4183c4;
    margin: 10px 0;
    justify-content: center;
}
.event__item>strong {
    margin: 0 .6em;
    color: grey;
}